Limpiaremos el dataset unificado de casen, y buscaremos las comunas en comun con el dataset covid datos por comuna, para crear un dataframe de datos socioeconomicos de la region metropolitana que sean pertinentes al proyecto orientado al covid.

In [1]:
import pandas as pd

df_socio = pd.read_csv('casen_2017_2020_2022_unido.csv')
df_covid = pd.read_csv('covid-19_datos_por_comuna.csv')

C:\Users\Liz\AppData\Local\Temp\ipykernel_16388\704479933.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_socio = pd.read_csv('casen_2017_2020_2022_unido.csv')

In [2]:
df_socio.head()
df_socio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590836 entries, 0 to 590835
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   folio                     590836 non-null  float64
 1   id_vivienda               590836 non-null  float64
 2   Pobreza Categoria         590836 non-null  object
 3   Pobreza_multidimensional  405497 non-null  float64
 4   Año                       590836 non-null  int64
 5   Sistema_previsional       588434 non-null  object
 6   NSE                       590836 non-null  object
 7   region                    590836 non-null  float64
 8   edad                      590836 non-null  float64
 9   Sexo                      590836 non-null  object
 10  Ingreso_hogar             590836 non-null  float64
 11  Comuna                    590836 non-null  object
 12  id_persona                590836 non-null  int64
 13  pobreza_sinte             590836 non-null  object
dtypes: float64(6), int64(2), object(6)
memory usage: 63.1+ MB

Buscamos las comunas unicas de cada dataframe

In [3]:
comunas_socio = df_socio['Comuna'].unique()
print(sorted(comunas_socio))

['Aisén', 'Algarrobo', 'Alhué', 'Alto Biobío', 'Alto Hospicio', 'Alto del Carmen', 'Ancud', 'Andacollo', 'Angol', 'Antofagasta', 'Antuco', 'Arauco', 'Arica', 'Buin', 'Bulnes', 'Cabildo', 'Cabo de Hornos', 'Cabrero', 'Calama', 'Calbuco', 'Caldera', 'Calera', 'Calera de Tango', 'Calle Larga', 'Camarones', 'Camiña', 'Canela', 'Carahue', 'Cartagena', 'Casablanca', 'Castro', 'Catemu', 'Cauquenes', 'Cañete', 'Cerrillos', 'Cerro Navia', 'Chanco', 'Chañaral', 'Chiguayante', 'Chile Chico', 'Chillán', 'Chillán Viejo', 'Chimbarongo', 'Cholchol', 'Chonchi', 'Chépica', 'Cisnes', 'Cobquecura', 'Cochrane', 'Codegua', 'Coelemu', 'Coihaique', 'Coihueco', 'Coinco', 'Colbún', 'Colchane', 'Colina', 'Collipulli', 'Coltauco', 'Combarbalá', 'Concepción', 'Conchalí', 'Concón', 'Constitución', 'Contulmo', 'Copiapó', 'Coquimbo', 'Coronel', 'Corral', 'Cunco', 'Curacautín', 'Curacaví', 'Curaco de Vélez', 'Curanilahue', 'Curarrehue', 'Curepto', 'Curicó', 'Dalcahue', 'Diego de Almagro', 'Doñihue', 'El Bosque', 'El Carmen', 'El Monte', 'El Quisco', 'El Tabo', 'Empedrado', 'Ercilla', 'Estación Central', 'Florida', 'Freire', 'Freirina', 'Fresia', 'Frutillar', 'Futrono', 'Galvarino', 'General Lagos', 'Gorbea', 'Graneros', 'Hijuelas', 'Hualañé', 'Hualpén', 'Hualqui', 'Huara', 'Huasco', 'Huechuraba', 'Illapel', 'Independencia', 'Iquique', 'Isla de Maipo', 'La Cisterna', 'La Cruz', 'La Estrella', 'La Florida', 'La Granja', 'La Higuera', 'La Ligua', 'La Pintana', 'La Reina', 'La Serena', 'La Unión', 'Lago Ranco', 'Lago Verde', 'Laguna Blanca', 'Laja', 'Lampa', 'Lanco', 'Las Cabras', 'Las Condes', 'Lautaro', 'Lebu', 'Licantén', 'Limache', 'Linares', 'Litueche', 'Llaillay', 'Llanquihue', 'Lo Barnechea', 'Lo Espejo', 'Lo Prado', 'Lolol', 'Loncoche', 'Longaví', 'Lonquimay', 'Los Alamos', 'Los Andes', 'Los Angeles', 'Los Lagos', 'Los Muermos', 'Los Sauces', 'Los Vilos', 'Lota', 'Lumaco', 'Machalí', 'Macul', 'Maipú', 'Malloa', 'Marchihue', 'Mariquina', 'María Elena', 'María Pinto', 'Maule', 'Maullín', 'Mejillones', 'Melipeuco', 'Melipilla', 'Molina', 'Monte Patria', 'Mostazal', 'Mulchén', 'Máfil', 'Nacimiento', 'Nancagua', 'Natales', 'Navidad', 'Negrete', 'Ninhue', 'Nogales', 'Nueva Imperial', 'Olivar', 'Olmué', 'Osorno', 'Ovalle', 'Padre Hurtado', 'Padre Las Casas', 'Paiguano', 'Paillaco', 'Paine', 'Palmilla', 'Panguipulli', 'Panquehue', 'Papudo', 'Paredones', 'Parral', 'Pedro Aguirre Cerda', 'Pelarco', 'Pelluhue', 'Pemuco', 'Pencahue', 'Penco', 'Peralillo', 'Perquenco', 'Petorca', 'Peumo', 'Peñaflor', 'Peñalolén', 'Pica', 'Pichidegua', 'Pichilemu', 'Pinto', 'Pirque', 'Pitrufquén', 'Placilla', 'Portezuelo', 'Porvenir', 'Pozo Almonte', 'Primavera', 'Providencia', 'Puchuncaví', 'Pucón', 'Pudahuel', 'Puente Alto', 'Puerto Montt', 'Puerto Octay', 'Puerto Varas', 'Pumanque', 'Punitaqui', 'Punta Arenas', 'Puqueldón', 'Purranque', 'Purén', 'Putaendo', 'Putre', 'Puyehue', 'Queilén', 'Quellón', 'Quemchi', 'Quilaco', 'Quilicura', 'Quilleco', 'Quillota', 'Quillón', 'Quilpué', 'Quinchao', 'Quinta Normal', 'Quinta de Tilcoco', 'Quintero', 'Quirihue', 'Rancagua', 'Ranquil', 'Rauco', 'Recoleta', 'Renaico', 'Renca', 'Rengo', 'Requínoa', 'Retiro', 'Rinconada', 'Romeral', 'Río Bueno', 'Río Claro', 'Río Hurtado', 'Río Ibáñez', 'Río Negro', 'Río Verde', 'Saavedra', 'Sagrada Familia', 'Salamanca', 'San Antonio', 'San Bernardo', 'San Carlos', 'San Clemente', 'San Esteban', 'San Fabián', 'San Felipe', 'San Fernando', 'San Gregorio', 'San Ignacio', 'San Javier', 'San Joaquín', 'San José de Maipo', 'San Juan de la Costa', 'San Miguel', 'San Nicolás', 'San Pablo', 'San Pedro', 'San Pedro de Atacama', 'San Pedro de la Paz', 'San Rafael', 'San Ramón', 'San Rosendo', 'San Vicente', 'Santa Bárbara', 'Santa Cruz', 'Santa Juana', 'Santa María', 'Santiago', 'Santo Domingo', 'Sierra Gorda', 'Talagante', 'Talca', 'Talcahuano', 'Taltal', 'Temuco', 'Teno', 'Teodoro Schmidt', 'Tierra Amarilla', 'Tiltil', 'Timaukel', 'Tirúa', 'Tocopilla', 'Toltén', 'Tomé', 'Torres del Paine', 'Tortel', 'Traiguén', 'Treguaco', 'Tucapel', 'Valdivia', 'Vallenar', 'Valparaíso', 'Vichuquén', 'Victoria', 'Vicuña', 'Vilcún', 'Villa Alegre', 'Villa Alemana', 'Villarrica', 'Vitacura', 'Viña del Mar', 'Yerbas Buenas', 'Yumbel', 'Yungay', 'Zapallar', 'Ñiquén', 'Ñuñoa']

In [4]:
comunas_covid = df_covid['Comuna'].unique()
print(sorted(comunas_covid))

['Alhué', 'Buin', 'Calera De Tango', 'Cerrillos', 'Cerro Navia', 'Colina', 'Conchalí', 'Curacaví', 'El Bosque', 'El Monte', 'Estación Central', 'Huechuraba', 'Independencia', 'Isla De Maipo', 'La Cisterna', 'La Florida', 'La Granja', 'La Pintana', 'La Reina', 'Lampa', 'Las Condes', 'Lo Barnechea', 'Lo Espejo', 'Lo Prado', 'Macul', 'Maipú', 'Maria Pinto', 'Melipilla', 'Padre Hurtado', 'Paine', 'Pedro Aguirre Cerda', 'Penaflor', 'Peñalolén', 'Pirque', 'Providencia', 'Pudahuel', 'Puente Alto', 'Quilicura', 'Quinta Normal', 'Recoleta', 'Renca', 'San Bernardo', 'San Joaquín', 'San José de Maipo', 'San Miguel', 'San Pedro', 'San Ramón', 'Santiago', 'Talagante', 'Tiltil', 'Vitacura', 'Ñuñoa']

In [5]:
# Filtramos por las comunas de la Región Metropolitana

def limpiar_comuna(nombre):
    nombre = nombre.strip().title()
    nombre = nombre.replace('Nunoa', 'Ñuñoa')
    nombre = nombre.replace('Penalolen', 'Peñalolén')
    nombre = nombre.replace('Peñalolen', 'Peñalolén')
    nombre = nombre.replace('Conchali', 'Conchalí')
    nombre = nombre.replace('Estacion Central', 'Estación Central')
    nombre = nombre.replace('San Joaquin', 'San Joaquín')
    nombre = nombre.replace('San Jose De Maipo', 'San José de Maipo')
    nombre = nombre.replace('San Ramon', 'San Ramón')
    nombre = nombre.replace('Maipu', 'Maipú')
    nombre = nombre.replace('Alhue', 'Alhué')
    nombre = nombre.replace('Curacavi', 'Curacaví')
    if 'Desconocido' in nombre or 'Total' in nombre:
        return None
    return nombre

comunas_rm = [
    "Colina", "Lampa", "Til-Til", "Pirque", "Puente Alto", "San José de Maipo",
    "Buin", "Calera de Tango", "Paine", "San Bernardo", "Alhué", "Curacaví",
    "María Pinto", "Melipilla", "San Pedro", "Cerrillos", "Cerro Navia",
    "Conchalí", "El Bosque", "Estación Central", "Huechuraba", "Independencia",
    "La Cisterna", "La Granja", "La Florida", "La Pintana", "La Reina",
    "Las Condes", "Lo Barnechea", "Lo Espejo", "Lo Prado", "Macul", "Maipú",
    "Ñuñoa", "Pedro Aguirre Cerda", "Peñalolén", "Providencia", "Pudahuel",
    "Quilicura", "Quinta Normal", "Recoleta", "Renca", "San Miguel", "San Joaquín",
    "San Ramón", "Santiago", "Vitacura", "El Monte", "Isla de Maipo",
    "Padre Hurtado", "Peñaflor", "Talagante"
]

df_socio['Comuna'] = df_socio['Comuna'].apply(limpiar_comuna)

df_socio = df_socio[df_socio['Comuna'].notna()]

df_rm = df_socio[df_socio['Comuna'].isin(comunas_rm)].copy()

df_rm = df_rm.drop(columns=['folio', 'id_vivienda', 'edad', 'Sexo'])
df_rm = df_rm.sort_values(by=['Comuna', 'Año']).reset_index(drop=True)

df_rm.head()

,Pobreza Categoria,Pobreza_multidimensional,Año,Sistema_previsional,NSE,region,Ingreso_hogar,Comuna,id_persona,pobreza_sinte
0,No Pobreza,0.0,2017,Fonasa,Medio,13.0,924350.0,Alhué,1,No aplica
1,No Pobreza,0.0,2017,Fonasa,Medio,13.0,924350.0,Alhué,1,No aplica
2,No Pobreza,0.0,2017,Otro sistema,Medio,13.0,924350.0,Alhué,1,No aplica
3,No Pobreza,0.0,2017,Isapre,Medio,13.0,924350.0,Alhué,1,No aplica
4,No Pobreza,0.0,2017,Fonasa,Medio,13.0,924350.0,Alhué,1,No aplica

In [6]:
df_rm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115039 entries, 0 to 115038
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Pobreza Categoria         115039 non-null  object
 1   Pobreza_multidimensional  76685 non-null   float64
 2   Año                       115039 non-null  int64
 3   Sistema_previsional       114609 non-null  object
 4   NSE                       115039 non-null  object
 5   region                    115039 non-null  float64
 6   Ingreso_hogar             115039 non-null  float64
 7   Comuna                    115039 non-null  object
 8   id_persona                115039 non-null  int64
 9   pobreza_sinte             115039 non-null  object
dtypes: float64(3), int64(2), object(5)
memory usage: 8.8+ MB

In [10]:
df_rm.head()

,Pobreza Categoria,Pobreza_multidimensional,Año,Sistema_previsional,NSE,region,Ingreso_hogar,Comuna,id_persona,pobreza_sinte
0,No Pobreza,0.0,2017,Fonasa,Medio,13.0,924350.0,Alhué,1,No aplica
1,No Pobreza,0.0,2017,Fonasa,Medio,13.0,924350.0,Alhué,1,No aplica
2,No Pobreza,0.0,2017,Otro sistema,Medio,13.0,924350.0,Alhué,1,No aplica
3,No Pobreza,0.0,2017,Isapre,Medio,13.0,924350.0,Alhué,1,No aplica
4,No Pobreza,0.0,2017,Fonasa,Medio,13.0,924350.0,Alhué,1,No aplica

In [8]:
# Revisemos, nuevamente, las comunas

comunas_socio = df_rm['Comuna'].unique()
print(sorted(comunas_socio))

['Alhué', 'Buin', 'Cerrillos', 'Cerro Navia', 'Colina', 'Conchalí', 'Curacaví', 'El Bosque', 'El Monte', 'Estación Central', 'Huechuraba', 'Independencia', 'La Cisterna', 'La Florida', 'La Granja', 'La Pintana', 'La Reina', 'Lampa', 'Las Condes', 'Lo Barnechea', 'Lo Espejo', 'Lo Prado', 'Macul', 'Maipú', 'María Pinto', 'Melipilla', 'Padre Hurtado', 'Paine', 'Pedro Aguirre Cerda', 'Peñaflor', 'Peñalolén', 'Pirque', 'Providencia', 'Pudahuel', 'Puente Alto', 'Quilicura', 'Quinta Normal', 'Recoleta', 'Renca', 'San Bernardo', 'San Joaquín', 'San Miguel', 'San Pedro', 'San Ramón', 'Santiago', 'Talagante', 'Vitacura', 'Ñuñoa']

In [9]:
comunes = set(df_rm['Comuna'].unique()) & set(df_covid['Comuna'].unique())
print(comunes)

{'Lampa', 'Quinta Normal', 'Curacaví', 'San Ramón', 'Pedro Aguirre Cerda', 'Independencia', 'Cerrillos', 'Padre Hurtado', 'Maipú', 'Renca', 'La Reina', 'San Joaquín', 'Buin', 'Talagante', 'San Pedro', 'El Monte', 'La Pintana', 'La Florida', 'San Bernardo', 'Puente Alto', 'La Cisterna', 'Quilicura', 'Ñuñoa', 'Providencia', 'Conchalí', 'Macul', 'Melipilla', 'Paine', 'Colina', 'Huechuraba', 'Lo Barnechea', 'Pudahuel', 'Estación Central', 'Pirque', 'El Bosque', 'Vitacura', 'Recoleta', 'Las Condes', 'Santiago', 'Lo Prado', 'San Miguel', 'Alhué', 'La Granja', 'Peñalolén', 'Lo Espejo', 'Cerro Navia'}

In [12]:
df_rm.sample(5)

,Pobreza Categoria,Pobreza_multidimensional,Año,Sistema_previsional,NSE,region,Ingreso_hogar,Comuna,id_persona,pobreza_sinte
67861,No Pobreza,0.0,2018,Isapre,Alto,13.0,2716000.0,Providencia,1,No aplica
58542,No Pobreza,0.0,2023,Isapre,Bajo-medio-alto,13.0,6052924.0,Padre Hurtado,2,No aplica
19007,No Pobreza,0.0,2022,Isapre,Alto,13.0,4943333.0,La Cisterna,3,No aplica
84464,No Pobreza,1.0,2022,Ninguno (particular),Alto,13.0,550000.0,Quilicura,3,No aplica
2061,No Pobreza,0.0,2017,Fonasa,Medio,13.0,509156.0,Cerrillos,1,No aplica

Finalmente guardamos el dataset socieconomico con los datos de la RM.

In [13]:
df_rm.to_csv("Dataset_Socio_RM.csv", index=False, encoding='utf-8-sig')